body{
    margin: 0;
    
}
img{
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20%;  
    align-items: center; 
    color: white;
   
}

.header_color{
    background-color: orange;
    height: 80px;
}

.item_1{
    display: flex;
    gap: 10px;  
}

.item_2{
    width: 100px;  
}

.item_3{
    display: flex;
    gap: 10px;
}


.site_header{
    position: fixed;
    width: 100%;
}