body{
    margin: 0;
    
}
img{
    max-width: 100%;
}

s{
    display: inline;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20%;  
    align-items: center; 
    color: white;
   
}

.header_color{
    background-color: orange;
    height: 80px;
}

.item_1{
    display: flex;
    gap: 10px;  
}

.item_2{
    width: 100px;  
}

.item_3{
    display: flex;
    gap: 10px;
}


.site_header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.contenitor{
    display: flex;
    padding-top: 100px;
    gap: 30px;
    justify-content: center;
    
}

.product{
    width: 460px;

    
}

.color_red{
    color: red;
}

.heart_and_discount{
    position: relative;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 40px;
    
}

.discount{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: red;
    font-size: 30px;
    text-align: center;
    color: white;
}

.green{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: green;
    font-size: 30px;
    text-align: center;
    color: white;
    left:70px;
}

.img1:hover img{
    content: url(./img/1.webp);
}

.img2:hover img{
    content: url(./img/2b.webp);
}

.img3:hover img{
    content: url(./img/3b.webp);
}

.img4:hover img{
    content: url(./img/4.webp);
}

.img5:hover img{
    content: url(./img/5b.webp);
}

.img6:hover img{
    content: url(./img/6b.webp);
}